<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>素材</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.jpeg</string>
				<string>public.png</string>
				<string>com.compuserve.gif</string>
				<string>org.webmproject.webp</string>
				<string>public.svg-image</string>
				<string>public.heic</string>
				<string>public.heif</string>
				<string>com.microsoft.bmp</string>
				<string>public.tiff</string>
				<string>public.avif</string>
			</array>
		</dict>
	</array>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>NSUserNotificationsUsageDescription</key>
	<string>Ossuno 在上传或下载完成时发送通知。</string>
	<key>NSSupportsSuddenTermination</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://ihopefulchina.github.io/Ossuno/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>wfB4SSBK7hTIJD6UydEYMtr5z922ovwPUBZWOxjAXro=</string>
	<key>SUVerifyUpdateBeforeExtraction</key>
	<true/>
</dict>
</plist>
